@media screen and (max-width:1240px) {
    .contactBurger {
        top: 5%
    }
}
@media screen and (max-width: 1000px) {
    .sponsorSectionSecondary {
        display: none;
    }
    .estimateBlock{
        height: 80% !important;
        width: 85% !important;
    }
    .whyContact{
        margin: 10px auto !important;
        width: 85% !important;
    }
    .contactInfo{
        margin: 10px auto !important;
        width: 85% !important;
        flex-direction: column !important;
        gap: 12px !important;
        align-items: flex-start !important;

    }
    .locations{
        margin: 12px auto !important;
        width: 85% !important;
    }
}


@media screen and (max-width: 750px) {
    .whyContact{
        font-size: 90% !important;
    }
    .locations p{
        font-size: 90% !important;
        margin-bottom: 0.4rem !important;
    }
}

@media screen and (max-width: 570px) {
    .contactInfo{
        gap: 5px !important;
    }
    .whyContact, .contactInfo, .locations{
        margin: 5px auto !important;
    }
}

@media screen and (max-width: 440px) {
    .whyContact, .contactInfo, .locations{
        font-size: 85% !important;
    }
}