/* CONTACT PAGE */



.active {
    display: none;
}

.inactive {
    display: block;
}

.burger.open .inactive {
    display: none;
}

.burger.open .active {
    display: block;
}

.estimateBlock {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 75%;
    background-color: #eeeeee;
    opacity: 97%;
    margin-top: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.whyContact{
    margin: 15px auto;
    width: 70%;
}
.contactInfo{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 65px;
    align-items: center;
    justify-content: center;
}
.locations{
    margin: 45px auto;
    width: 70%;
}


.sponsorSectionSecondary {
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}